<!doctype html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Title</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
</head>
<body>

<div class="container-fluid">
    <h3 class="text-success" th:text="${mess}"></h3>
    <div class="text-center p-3">
        <h1>Product List</h1>
        <a th:href="@{showCreate}" class="btn btn-primary">Create</a>
    </div>
    <div class="text-center p-3">
        <form th:action="@{/search}" method="get">
            <div class="row">
                <div class="col-3">
                    <input type="text" class="form-control" placeholder="Name Search" name="search">
                </div>
                <div class="col-1">
                    <input type="submit" class="btn btn-outline-primary">
                </div>
            </div>
        </form>
    </div>
    <table class="table">
        <thead>
        <tr>
            <th>ID</th>
            <th>Name Product</th>
            <th>Price Product</th>
            <th>Describe Product</th>
            <th>Producer</th>
            <th>Edit</th>
            <th>Delete</th>
            <th>View</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="item : ${list}">
            <td th:text="${item.id}"></td>
            <td th:text="${item.name}"></td>
            <td th:text="${item.price}"></td>
            <td th:text="${item.description}"></td>
            <td th:text="${item.production}"></td>
            <td>
                <a th:href="@{/showEdit/{id}(id= ${item.getId()})}" class="btn btn-outline-success">Edit</a>
            </td>
            <td>
                <button type="button" class="btn btn-outline-danger" data-bs-toggle="modal"
                        data-bs-target="#exampleModal"
                        onclick="objDelete(this.value)" th:value="${item.id}+','+${item.name}">
                    Delete
                </button>
            </td>
            <td>
                <a th:href="@{/view/{id}(id=${item.id})}" class="btn btn-info">
                    view
                </a>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<!-- Modal -->

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <form method="post" th:action="@{/delete}">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Delete Product</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <input type="text" name="id" id="idDelete" hidden>
                    <span id="nameDelete"></span> <br>
                    <span class="text-danger">do you want to delete? </span>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <input type="submit" class="btn btn-outline-danger" value="Delete">
                </div>
            </div>
        </div>
    </form>
</div>
<div class="modal fade" id="view" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Delete Product</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <table>
                    <tr>
                        <th>id</th>
                        <td>${viewProduct.id}</td>
                    </tr>
                    <tr>
                        <th>Name</th>
                        <td>${viewProduct.name}</td>
                    </tr>
                    <tr>
                        <th>price</th>
                        <td>${viewProduct.price}</td>
                    </tr>
                    <tr>
                        <th>Description</th>
                        <td>${viewProduct.description}</td>
                    </tr>
                    <tr>
                        <th>Producer</th>
                        <td>${viewProduct.production}</td>
                    </tr>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <input type="submit" class="btn btn-outline-danger" value="Delete">
            </div>
        </div>
    </div>
</div>
<input type="text" th:value="${mes}" th:if="${mes!=null}">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>
<script>
    function objDelete(name) {
        let arr = name.split(",");
        document.getElementById("idDelete").value = arr[0];
        document.getElementById("nameDelete").innerText = arr[1];
    }
</script>
<script src="jquery-3.6.0.min.js"></script>
<script type="text/javascript">
    $(window).on('load', function() {
        if(document.getElementById("mes").innerText=="true"){
            $('#view').modal('show');
        }
    });
</script>
</body>
</html>